
.home-info{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.head{
    max-width: 600px;
}

.head p{
    font-size: 19px;
    
}
@media (max-width: 675px) {
    .home-info{
        display: flex;
        align-items: center;
       flex-direction: column;
    }
    

 }